# objects
*.o
*.so
*.a
*.log
.DS_Store
*.t7

# Ignore all scratch dir.
scratch/

# Videos dir
videos/

# Ignore datasets
datasets/

# Ignore log folders
log/

# Ignore emacs saved files
*.*~

# ignore datasets
*.mat
*.t7

# ignore Mac OS dir files
.DS_Store
results/


train-face-detector-elab/face-dataset.zip
train-face-detector-elab/face-dataset/*

person-detector/INRIAPerson.zip
person-detector/INRIAPerson/*
