# objects
*.o
*.so
*.a

# Ignore all scratch dir.
scratch/

# Videos dir
videos/

# Ignore datasets
datasets/

# Ignore log folders
log/


train-a-face-detector/.DS_Store

train-a-face-detector/train-a-face-detector/face.net

train-a-face-detector/train-a-face-detector/face.net.old

train-a-face-detector/train-a-face-detector/test.log

train-a-face-detector/train-a-face-detector/test.log.eps

train-a-face-detector/train-a-face-detector/train.log

train-a-face-detector/train-a-face-detector/train.log.eps
